
.gallery{
    display: flex;
    height: 80vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0.5% auto 0;
} 
.image-box{
    margin: 0.1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: .5s;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.image-box:hover{
    flex-basis: 50%;
}
.gallery:hover .active{
    flex-basis: 0;
}
.image-box:nth-child(1):hover{
    flex-basis: 50%;
}
.active{
    flex-basis: 50%;
}